domain.csv
main.exe
particles.csv
position.csv
time.csv
velocity.csv
.vscode/settings.json
.vscode/tasks.json
particles
particles.xcodeproj/project.pbxproj
particles.xcodeproj/project.xcworkspace/contents.xcworkspacedata
particles.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
particles.xcodeproj/project.xcworkspace/xcuserdata/mschmidt.xcuserdatad/UserInterfaceState.xcuserstate
particles.xcodeproj/xcuserdata/mschmidt.xcuserdatad/xcschemes/xcschememanagement.plist
particles_xcode
particles_xcode.xcodeproj/.project.pbxproj.swp
particles_xcode.xcodeproj/project.pbxproj
particles_xcode.xcodeproj/project.xcworkspace/contents.xcworkspacedata
particles_xcode.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
particles_xcode.xcodeproj/project.xcworkspace/xcuserdata/mschmidt.xcuserdatad/UserInterfaceState.xcuserstate
particles_xcode.xcodeproj/xcuserdata/mschmidt.xcuserdatad/xcschemes/xcschememanagement.plist
particles_xcode.xcodeproj/xcshareddata/xcschemes/particles_xcode.xcscheme
particles_xcode.xcodeproj/xcuserdata/mschmidt.xcuserdatad/xcschemes/Copy of particles_xcode.xcscheme
particles_xcode.xcodeproj/xcshareddata/xcschemes/rm_particles_run_particles.xcscheme
particles_xcode.xcodeproj/xcuserdata/mschmidt.xcuserdatad/xcschemes/rm_particles_run_xcode.xcscheme
particles_xcode.xcodeproj/xcuserdata/mschmidt.xcuserdatad/xcschemes/run_particles.xcscheme
results.csv
__pycache__/run_particles.cpython-311.pyc
__pycache__/
